

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Young+Serif&display=swap');

nav {
width: 20.4375rem;
height: 3.75rem;
background: #BF94E8;
flex-shrink: 0;
border-radius: 0.5rem;
}
h1, h2, h3, h4, h5, h5{
margin-bottom: 3rem;
background: #BF94E8;
border-radius: 0.5rem;
display: flex;
width: 20.4375rem;
height: 4.1875rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;    
color: #000;
text-align: center;
font-family: 'Gentium Book Plus', serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.0225rem;
}
p {
display: flex;
width: 20.4375rem;
height: 6.0625rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: 'Gentium Book Plus', serif;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.015rem;
}
footer{
background: #BF94E8;
width: 24.375rem;
height: 6.1875rem;
flex-shrink: 0;
border-radius: 0.5rem;

}
footer p {
margin-top: 2rem;
width: 20.4375rem;
flex-shrink: 0;
color: #000;
font-family: 'Gentium Book Plus', serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
a {
    color: aliceblue;
}